@font-face {
  font-family: "channel_5_colourregular";
  src: url("/Fonts/538lyons_rounded-webfont.woff2") format("woff2"),
    url("/Fonts/538lyons_rounded-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: "channel_5_colourregular";
  background-color: darkgrey;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

i {
  cursor: pointer;
}

/* HEADER */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: -2%;
  right: 0;
  left: 0;
  z-index: 2000;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

#header {
  height: 8%;
  background-color: #26263a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin-left: 0;
}

#header-container {
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.5rem;
}

#logo {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

#input-container {
  width: 40%;
  position: relative;
  margin: 1% 9% 1% 5%;
}

#mathem-glas {
  position: absolute;
  border-radius: 30px;
  top: 12%;
  left: 4%;
  z-index: 2000;
  height: 70%;
  width: auto;
}

#header-container input {
  width: 91%;
  padding: 1rem 1rem 1rem 11%;
  font-size: 1.2em;
  font-family: "channel_5_colourregular";
  border-radius: 30px;
  margin: 0 0 0 0.2rem;
  color: rgb(93, 92, 92);
}

#header-container input::placeholder {
  color: rgb(177, 175, 175);
}

#search-button {
  position: absolute;
  top: 12%;
  right: -5%;
  background-color: lightgray;
  border: none;
  width: 80px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1em;
  z-index: 2000;
  height: 78%;
  border-radius: 30px;
  margin-right: 0.5%;
  cursor: pointer;
}

#search-button:hover {
  color: #26263a;
  background-color: #a4a8a9;
}

#bell {
  height: 100%;
  width: auto;
  margin-right: 1%;
}

#varukorg-i-header {
  display: flex;
  width: 12%;
  height: auto;
  align-items: center;
  border: 2px solid rgb(173, 60, 60);
  border-radius: 30px;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
}

#varukorg-i-header img {
  height: 100%;
  width: auto;
  border-radius: 30px;
}

#total-qty-in-cart {
  position: absolute;
  top: -8px;
  right: 0px;
  color: black;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.5;
}

/* MENU */

div#menu-container {
  position: absolute;
  z-index: 2000;
  top: 50%;
  height: 20%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

#menu {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.1em;
}

#menu select {
  font-family: "channel_5_colourregular";
  border: 1px solid rgba(0, 0, 0, 0) !important;
  font-size: 0.95em;
  color: rgb(119, 119, 119);
}

/* #list-kategorier {
  position: relative;
} */

#menu ul #kategorier {
  position: absolute;
  bottom: -60px;
  left: -20px;
  display: none;
  flex-direction: row;
  background-color: white;
  max-width: 80vw;
  min-width: 60vw;
  justify-content: center;
  z-index: 2000;
  align-items: center;
  height: 60px;
  padding: 0;
}

#menu li.category {
  padding: 1rem !important;
  max-height: 1rem !important;
  font-size: medium;
  font-weight: 300 !important;
  cursor: pointer;
  margin-right: 0;
  /* width: 50px; */
}

li.category:hover {
  color: #a1edfb !important;
  background-color: #26263a;
}

#menu ul:nth-child(odd) {
  width: 50%;
  color: rgb(110, 110, 110);
}

#menu ul:nth-child(odd) li {
  color: rgb(110, 110, 110);
}
#menu ul:nth-child(odd) li:first-child {
  color: black;
}
#menu ul:nth-child(even) {
  width: 27%;
  color: rgb(110, 110, 110);
}
#menu ul li {
  margin-right: 7%;
}
#menu ul:nth-child(even) li {
  margin-right: 15%;
}

/* RABATT MESS */

#rabatt-mess {
  margin-top: 1rem;
  z-index: 2000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 60px;
  text-align: center;
  line-height: 3.75;
  background-color: #a1edfb;
}

#rabatt-mess p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#rabatt {
  width: 5%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

/* PRODUCTS */

#prodCat1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 100vh;
  margin-left: -1rem;
  padding-bottom: 1rem;
}

/* CART STYLES */

#empty-cart-msg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#empty-cart-msg img {
  width: 50%;
  height: auto;
}

#empty-cart-msg h3,
#empty-cart-msg p {
  font-size: larger;
  margin-top: 2rem;
  text-align: center;
}

#cart-nav {
  position: relative;
}

#cart {
  display: none;
  top: -2%;
  width: 35%;
  min-height: 100vh !important;
  z-index: 2000;
  position: absolute;
  animation: 1s move forwards;
  overflow-x: hidden;
}

@keyframes move {
  0% {
    right: -55%;
    top: -3%;
  }
  100% {
    right: 0px;
    top: -3%;
    position: fixed;
  }
}

#Fortsatt-handla {
  cursor: pointer;
}

#products {
  min-width: 100%;
  position: relative;
}

#head-container {
  display: flex;
  width: 95%;
  height: 45px;
  margin: 1rem auto 0 -1%;
  background-color: #a1edfb;
  color: black;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

#cart-price {
  display: none;
  position: relative;
  width: 12%;
  height: auto;
  align-items: center;
  border: 2px solid rgb(173, 60, 60);
  background-color: red;
  color: white;
  border-radius: 30px;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: large;
}

#head-container p {
  font-weight: 200;
  padding: 0.5rem;
  margin-right: 1rem;
}

#head-container h1 {
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.6em;
}

#leverans {
  display: flex;
  align-items: center;
  padding-top: 3%;
}

#leverans-process {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*CART PRODUCTS*/

main {
  position: absolute;
  top: 140px;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  padding-bottom: 1rem;
}

main h1 {
  padding: 1rem 0 0 1%;
  color: rgb(81, 80, 80);
}

#products {
  width: 35%;
  min-height: 93vh;
  margin: 0 auto;
  background-color: white;
  padding: 0;
}
#products-container {
  margin-left: 0;
  width: 92%;
  min-height: 43vh;
  padding: 0.8rem;
  background-color: white;
  left: 0;
}

#products h3 {
  font-size: 1.3em;
  color: rgb(74, 73, 73);
  padding: 1rem 1rem;
}

/* SINGLE  CART PRODUCT */

.product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35%;
  padding: 1rem;
}

img {
  width: 10%;
  height: 10%;
}
hr {
  border-top: 1px dotted rgb(203, 201, 201);
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.product-info p:first-child {
  font-size: large;
}

.product-specifics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-left: 0.8rem;
  width: 60%;
  line-height: 2;
}
.product-specifics p {
  line-height: 2;
  max-height: 2rem;
}

.price {
  color: rgb(249, 8, 8);
  font-weight: bold;
}

.discounted-prod-price {
  text-decoration: line-through;
}

.qty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.qty-container i {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: rgb(236, 234, 234);
  margin: 0.9rem;
}

.qty-container i:last-child {
  color: red;
}

.qty-container b {
  font-size: large;
}

#trash-container {
  color: red;
  width: 93%;
  height: 9vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  margin-top: -1rem;
}

#trash-container p {
  margin-left: 1rem;
}

#trash-container p:hover {
  cursor: pointer;
}

#trash-container .fa-trash {
  background-color: rgb(236, 234, 234);
  border-radius: 50%;
  padding: 0.85rem;
}

/* undercontext i cart*/

#undercontext {
  position: relative;
  display: flex;
  max-width: 95%;
  height: 25vh;
  margin: 0 auto;
  background-color: rgb(226, 221, 215);
  color: black;
  font-weight: 100;
  align-items: center;
  padding: 16px 1rem 1rem 1rem;
}

#undercontext:after {
  background: linear-gradient(-25deg, rgb(226, 221, 215) 16px, transparent 0),
    linear-gradient(25deg, rgb(226, 221, 215) 16px, transparent 0);
  background-position: left-top;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
  height: 32px;
}

#undercontext #undercontext-container {
  width: 90%;
  margin: 1rem 1rem 1rem 0.5rem;
}

#trash-container {
  background-color: white;
  margin-left: 0;
}

#prices-container {
  width: 100%;
  margin-left: 0;
  font-weight: bold;
}

.prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 1rem 1rem 0;
}

#total-container {
  font-size: x-large;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

#go-to-checkout {
  display: flex;
  justify-content: center;
  max-width: 93%;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 1rem;
}

#go-to-checkout p {
  padding: 1rem;
  min-width: 100%;
  color: whitesmoke;
  background-color: #26263ae3;
  border: 2px solid white;
  text-align: center;
}

#go-to-checkout p:hover {
  background-color: antiquewhite;
  color: #26263a;
  border-color: #26263a;
  cursor: pointer;
}

footer {
  display: flex;
  position: absolute;
  bottom: -7%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6%;
  background-color: #26263a;
  padding: 1rem;
  color: whitesmoke;
  left: 0;
}
footer p {
  margin-bottom: 0.5rem;
}

/* responsive */

@media screen and (max-width: 700px) {
  #products {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #bell {
    display: none;
  }
  header {
    max-width: 100vw;
    padding-top: 0.85%;
  }
  #header {
    max-width: 100%;
  }
  #header-container {
    padding-top: 1rem;
  }
  #header-container input {
    font-size: small;
    padding-left: 25%;
    width: 70%;
  }
  #search-button {
    width: 20%;
    font-size: small;
    margin-right: 0.15rem;
  }

  #cart-price,
  #total-qty-in-cart {
    font-size: medium;
  }

  #menu {
    max-width: 100%;
    font-size: small;
    display: flex;
    justify-content: center;
  }

  #menu ul:nth-child(odd) {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  #menu ul #kategorier {
    flex-direction: column;
    bottom: -45vh;
    height: 45vh;
  }

  #menu li.category {
    width: 90%;
    text-align: center;
    border-bottom: 1.5px dotted lightgray;
  }

  #varukorg-bild {
    max-width: 80px !important;
    height: auto;
  }

  main h1 {
    font-size: large;
    margin-left: 4%;
  }

  /* CART */

  #cart {
    width: 100%;
    font-size: medium;
  }

  #head-container h1,
  #cart h3 {
    font-size: large;
  }

  .proditem {
    width: 90%;
  }
  .proditem .product-specifics p {
    font-size: medium;
  }

  div #inloggning {
    display: none;
  }

  @keyframes move {
    0% {
      right: -55%;
      top: -3%;
    }
    100% {
      left: 0px;
      top: -3%;
      position: fixed;
    }
  }

  #go-to-checkout {
    width: 90vw;
    margin-left: 1.5%;
  }

  /* Rabatt message */

  #rabatt-mess p {
    font-size: x-small;
    line-height: 7.2;
  }
  #leverans-process {
    display: none;
  }
  footer {
    font-size: smaller;
    text-align: center;
    /* padding: 1rem; */
    max-width: 100%;
    left: 0;
  }
  footer p {
    max-width: 100%;
    font-size: smaller;
    margin-left: -7%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .product__list_single {
    min-width: 40%;
  }
  #bell {
    display: none;
  }
  #header-container input {
    font-size: small;
    padding-left: 20%;
    width: 85%;
  }
  #search-button {
    width: 20%;
    font-size: small;
    margin-right: -0.75rem;
  }

  #cart {
    width: 40vw;
  }

  #cart-price,
  #total-qty-in-cart {
    font-size: medium;
  }

  #menu {
    width: 100%;
    font-size: small;
    display: flex;
    justify-content: center;
  }

  #menu ul:nth-child(odd) {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  #menu ul #kategorier {
    min-width: 100vw;
    max-width: 110vw;
  }

  #menu li.category {
    width: 90%;
    text-align: center;
    border-bottom: 1.5px dotted lightgray;
  }

  #varukorg-bild {
    max-width: 80px !important;
    height: auto;
  }

  #head-container h1 {
    font-size: large;
  }

  #products-container h3 {
    font-size: large;
  }

  .proditem .product-specifics p {
    font-size: small;
  }

  .price {
    font-size: medium !important;
  }
  .discounted-prod-price {
    text-decoration: line-through !important;
  }

  div #inloggning {
    display: none;
  }

  #under-msg-empty-cart {
    font-size: medium !important;
  }

  #rabatt-mess p {
    font-size: small;
    line-height: 5.5;
  }
  #leverans-process {
    display: none;
  }
  h1 {
    font-size: large;
  }
  footer {
    font-size: smaller;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  #bell {
    display: block;
  }
  #header-container input {
    font-size: medium;
    padding-left: 15%;
    width: 85%;
  }

  #menu {
    width: 100%;
    font-size: small;
    display: flex;
    justify-content: center;
  }

  #menu ul:nth-child(odd) {
    width: 70%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  #varukorg-bild {
    max-width: 180px !important;
    height: auto;
  }

  #cart {
    width: 40%;
  }

  div #inloggning {
    display: flex;
  }

  #rabatt-mess p {
    font-size: medium;
    line-height: 4.5;
  }

  h1 {
    font-size: larger;
  }
  #leverans-process {
    display: block;
  }
  footer {
    font-size: medium;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }
}
